.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
    background: rgb(20, 18, 21);    
    opacity: 0.8;
    border-radius: 15px;
    width: 65%;
    height: 90%;
    padding: 10px 0;
}
.title{    
    font-size: 22px;
    color: #fff;
    text-decoration: none;
}
.title:hover{
    background: #fff;
    color: var(--primary-btn-color);
    box-shadow: 0 0 35px var(--secondary-btn-color);
    padding: 0 5px;
}
.card h3{
    font-size: 15px;
}
.card img{
    max-width: 50%;
}
.card span {
    margin: 0.5em 0.5em;
}